<div>
   UserName: <div id='username'><input type="text"  ng-model="authform.username" placeholder="Username" /></div>
   Password: <div id='pwd'><input type="password"  ng-model="authform.pwd" placeholder="Password" /></div>
   First Name:<div id='firstname'><input type="text"  ng-model="authform.firstname" placeholder="First Name" /></div>
   Last Name: <div id='lastname'><input type="text"  ng-model="authform.lastname" placeholder="Last Name" /></div>
   Email:  <div id='email'><input type="text"  ng-model="authform.email" placeholder="Email" /></div>
   Phone:  <div id='phone'><input type="text"  ng-model="authform.phone" placeholder="Phone" /></div> 
   Location: <div id='location'><input type="text"  ng-model="authform.location" placeholder="Location" /></div> 
   <br/><br/>
    <input type="button" value="Submit" ng-click="signup()"/>
    <input type="button" value="Previous" ng-click="previous()"/> 
    <!-- a href='#/'> Previous </a-->
    
</div>